@import "./../variables";

.roll-block {
	width: 280px;
	text-align: center;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;


	&__image {
		width: 100%;
		height: 170px;
		object-fit: contain;
	}

	&__title {
		font-size: 20px;
		font-weight: 900;
		letter-spacing: 1%;
		margin-bottom: 20px;
		margin-top: 20px;
		color: $black;
		@media screen and (max-width: 991px) {
			margin-bottom: 0;
		}
	}

	&__selector {
		display: flex;
		background-color: #f3f3f3;
		border-radius: 10px;
		flex-direction: column;
		padding: 6px;

		ul {
			display: flex;
			flex: 1;

			&:first-of-type {
				margin-bottom: 6px;
			}

			li {
				padding: 8px;
				flex: 1;
				cursor: pointer;
				font-weight: 600;
				font-size: 14px;
				@include noselect();
				&.active {
					background: #ffffff;
					box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
					border-radius: 5px;
					cursor: auto;
				}
				&.disabled {
					opacity: 0.4;
					pointer-events: none;
				}
			}
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
	}

	&__price {
		font-weight: bold;
		font-size: 22px;
		line-height: 27px;
		letter-spacing: 0.015em;
	}
	&__info{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		span{
			font-size: 14px;
			font-weight: 400;
			color: #2c2c2c;
		}
	}
}

.roll-block__bottom {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	margin-top: auto;
	gap: 10px;

	.roll-block__price {
		font-weight: bold;
		font-size: 22px;
		line-height: 27px;
		letter-spacing: 0.015em;
	}

	.counter {
		display: flex;
		align-items: center;
		min-width: 30px;
		// margin-bottom: 10px;

		button {
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #f3f3f3;
			border: 1px solid #d3d3d3;
			cursor: pointer;
		}

		span {
			padding: 0 10px;
		}
	}

	.button--add {
		width: 100%;
		min-width: auto;
		display: flex;
		align-items: center;
		gap: 8px;
		justify-content: center;
		&:disabled {
			opacity: 0.7;
			cursor: not-allowed;
			background-color: #232323;
		}
		&:hover{
			background-color: #F39404;
		}
	}
}

.roll-block__quantity {
	display: flex;
	align-items: center;
	gap: 10px;
	span {
		font-size: 21px;
		font-weight: bold;
		color: $black;
	}
}

.cartTotal {
	display: flex;
	align-items: center;
}
